.bodyC {
    position: relative;
    padding: 0;
    background-color: #f1f1f1;
    margin-right: -15px;
}

.mainHead {
    height: 110px;
    background-color: #ffffff;
}

.clLogo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
}
